body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.home_container{
  background-color:white;
}

.leftColumn {
    overflow: hidden;
    min-height: 50px;
    background-color: #474747 ;
}

.rightColumn {
    float: left;
    width: 651px;
      background-color:white;
    min-height: 50px;
    margin-left: 50px;
    margin-top:10px;
}

.home_header{
  min-height: 100px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(69,63,69,0.42);
-moz-box-shadow: 0px 2px 2px 0px rgba(69,63,69,0.42);
box-shadow: 0px 2px 2px 0px rgba(69,63,69,0.42);
  background-color: #474747 ;
background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
}

.home_header h3{
  color: #222;
  line-height: 20px;
  font-family: "Century Gothic", "Helvetica", sans-serif;
  font-size: 40px;
  font-weight: bold;

text-shadow: 0px 2px 3px #555;
}

.home_about{
  text-align: left;
  color: #222;
  font-size: 20px;
text-shadow: 0px 2px 3px #555;
}

.btn_login_home{
  overflow: hidden;
  min-height: 100px;
}

.btn_login_home a.animated-button.sandy-three {
float: right;
margin: 0;
}

.leftColumn_header {
    overflow: hidden;
    min-height: 50px;
    margin-top: 20px;
    text-align: center;
}

.rightColumn_header {
    float: left;
    min-height: 50px;
    margin-left: 10px;
}

.rightColumn table {
  border-collapse: separate;
  background:#fff;
  border-radius:2px;
  min-width: 600px;
  margin-top:50px;
    margin-left:50px;
  box-shadow:0px 0px 5px rgba(0,0,0,0.3);
}


.rightColumn tbody tr td {
  font-family: "Century Gothic", "Helvetica", sans-serif;
  font-weight:400;
cursor: pointer;
  font-size:20px;
  padding:20px 20px 20px 20px;
  border-bottom:1px solid #e0e0e0;

}

.rightColumn tbody tr:nth-child(2n) {
  background-color: #858585 ;
  color:white;
background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
}

.rightColumn tbody tr:last-child td {
  border-bottom:none;
  &:first-child {
    border-bottom-left-radius:2px;
  }
  &:last-child {
    border-bottom-right-radius:2px;
  }
}

.rightColumn tbody:hover > tr td {
  opacity:0.5;
}

.rightColumn tbody:hover > tr:hover td {
 text-shadow:none;
  color:#2d2d2d;
  opacity:1.0;
}

.label_listsnippets{
  font-size: 20px;
  margin-left: 50px;
  margin-top: 20px;
}

.snippets_table{
  margin-top:20px;
}

.textarea_container{
  display: inline-block;
  padding-rigth: 20px;
  width:451px;
}

.textarea_container_description{
  display: inline-block;

}

.label_snippet_description,
.label_snippet_content
{
  display: block;
  font-size: 20px;
}

.label_snippet_name{
  font-size: 20px;
}

.textarea_container_content{
  display: inline-block;
vertical-align: top;

}

.label_snippet_description{
  margin-top:15px;
}

.btn_create_snippet a.animated-button.sandy-three{
  margin: 0;
  width:200px;
}

.create_snippet_div{
  margin-top:30px;
}
